@charset "UTF-8";
body {
	background-color: #000;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
}
body nav {
	padding-top: 12px;
	line-height: 1.5em;
	text-align: right;
	padding-right:10px;
}
header {
	background-image: url(../img/turquoise_banner_pattern.png);
	background-color: #006a75;
	background-position: 76px 24px;
	clear: left;
}

.logo {
	width:595px;
	height:177px;
}

.tagline {
	float:right;
	margin:50px 20px 0 0;
}

.introduction {
	text-align: center;
	padding: 4em 20px;
}

.introduction h1 {
	margin-top: 0;
	font-size: 1.5em;
	color:#C8C9BB;
}

.upperShadow {
	width: 100%;
	height: 24px;
	background-image: url(../img/turquoise_pattern_upper.png);
	background-repeat: repeat-x;
}

.lowerShadow {
	width: 100%;
	height: 22px;
	background-image: url(../img/turquoise_pattern_lower.png);
	background-repeat: repeat-x;
	clear: both;
}

h2 {
	font-size: 1em;
	color:#C8C9BB;
	margin-top:0;
}

h2 span {
	font-weight: normal;
	color:#EDC951;
	font-style: italic;
	display: block;
}

/** GRID SYSTEM **/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	background: #222;
}
.grid:after {
	/* Or @extend clearfix */
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}

.col-2-3 {
	width: 66.66%;
}

.module {
	padding: 20px;
	background: #444;
}

/* Opt-in outside padding */
.grid-pad {
	padding: 20px 0 20px 20px;
}
.grid-pad [class*='col-']:last-of-type {
	padding-right: 20px;
}

.grid img {
	width:100%;
}

/* Mail Chimp Overrides */
#mc_embed_signup{
	clear:left;
	font:14px Helvetica,Arial,sans-serif;
	width:100%;
}

#mc_embed_signup .button {
	color: #333;
	background-color: #EDC951;
}

#mc_embed_signup .button:hover {
	background-color: #FFDE71;
}

#mc_embed_signup form {
	padding: 0 20px;
}

#mc_embed_signup label {
	font-weight: normal;
}

@media (max-width: 767px) {

	.grid {
		padding-bottom:0;
		margin-bottom:0;
	}

	[class*='col-'] {
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}

@media (max-width: 813px) {
	.logo {
		width:100%;
		height:auto;
	}

	.tagline {
		float:none;
		margin:0 20px;
	}
}